<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-md">
        <a class="navbar-brand mx-5" href="/web-service/shelter/home"><h3>Sheltered!</h3></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/web-service/shelter/home">Головна</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Сховища</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/web-service/shelter/add-form">Додати сховище</a></li>
                        <li><a class="dropdown-item" href="/web-service/shelter/edit-form">Змінити сховище</a></li>
                        <li><a class="dropdown-item" href="/web-service/shelter/delete-form">Видалити сховище</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link active" href="/web-service/project-info">Про проєкт</a></li>
                <li class="nav-item"><a class="nav-link" href="/web-service/api-info">Про API</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="volunteerNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Волонтерство</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/web-service/supply/requests">Переглянути заявки</a></li>
                        <li><a class="dropdown-item" href="/web-service/supply/add-request">Створити заявку</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex" style="padding-right: 60px">
                <li class="nav-item"><a class="nav-link" href="/web-service/user/registration">Реєстрація</a></li>
                <li class="nav-item"><a class="nav-link" href="/web-service/user/login">Вхід</a></li>
                <li class="nav-item"><a class="nav-link" href="/web-service/user/logout">Вихід</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>