<!DOCTYPE html>
<html lang="ua">
<head>
    <title>Sheltered!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/virtual-select.min.css">
    <script src="/js/virtual-select.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/select-box.css">
    <link rel="stylesheet" href="/css/map.css">
</head>
<body style="padding-top:60px">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-md">
        <a class="navbar-brand mx-5" href="/shelter/home"><h3>Sheltered!</h3></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/shelter/home">Головна</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Сховища</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/shelter/add-form">Додати сховище</a></li>
                        <li><a class="dropdown-item" href="/shelter/edit-form">Змінити сховище</a></li>
                        <li><a class="dropdown-item" href="/shelter/delete-form">Видалити сховище</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/project-info">Про проєкт</a></li>
                <li class="nav-item"><a class="nav-link" href="/api-info">Про API</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="volunteerNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Волонтерство</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/volunteering/requests">Переглянути заявки</a></li>
                        <li><a class="dropdown-item" href="/volunteering/add-request">Створити заявку</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex" style="padding-right: 60px">
                <li class="nav-item"><a class="nav-link" href="/user/registration">Реєстрація</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/login">Вхід</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/logout">Вихід</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-md" style="padding-left:60px; padding-right:60px">
    <div class="mb-3 mt-4">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:inline="text" th:if="${error}">
            [[${error}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:inline="text" th:if="${success}">
            [[${success}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        <h4>Будь ласка, заповніть форму нижче</h4>
    </div>
    <form action="#" th:action="@{/shelter/add}" th:object="${shelter}" method="post" class="bg-light p-3 mb-3" id="form">
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="capacity" class="form-label">Максимальна місткість:</label>
                <input id="capacity" class="form-control w-75" type="number" min="0" th:field="*{capacity}">
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <label for="area" class="form-label">Площа сховища:</label>
                <div class="input-group w-50">
                    <input id="area" class="form-control" type="number" min="0" step="0.01" th:field="*{area}">
                    <span class="input-group-text">м. кв.</span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-5">
                <label for="status">Статус:</label>
                <div>
                    <select id="status" class="select-box"
                            th:field="*{status}">
                        <option th:each="stat : ${T(ua.edu.sumdu.nefodov.sheltered.application.model.ShelterStatus).values()}"
                                th:value="${stat}"
                                th:text="${stat.label}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-7">
                <label for="conditions">Наявні умови:</label>
                <div>
                    <select id="conditions" class="select-box" multiple
                            th:field="*{conditions}">
                        <option th:each="cond : ${T(ua.edu.sumdu.nefodov.sheltered.application.model.ShelterConditions).values()}"
                                th:value="${cond}"
                                th:text="${cond.label}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-5">
                <label for="additional">Додаткова інформація:</label>
                <textarea class="form-control" rows="3" id="additional" maxlength="250"
                          placeholder="Загальний стан, як дібратися, тощо" th:field="*{additional}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Встановіть геолокацію сховища</h5>
                <small class="text-muted">Перетягніть відповідний маркер</small>
                <div class="container-fluid my-3" id="map">
                    <script src="/js/addShelter.js"></script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNygk1I_A0o5KiaTXySMczo0evoDak2ug&callback=initMap"
                            defer>
                    </script>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <input onclick="validateAndSubmitForm()" value="Додати сховище" class="btn btn-dark"/>
            </div>
        </div>
        <input type="hidden" id="lat" th:field="*{coordinates.latitude}">
        <input type="hidden" id="lng" th:field="*{coordinates.longitude}">
    </form>
</div>
</body>
</html>
<script src="/js/formSubmission.js"></script>
<script th:inline="javascript">
    var shelters = [[${shelters}]];
    var statuses = [[${statuses}]];
    var conditionsValues = [[${conditions}]];
</script>